{{!< layout}}
<table>
  <tr>
      <td>Add-on user (retrieved via server-to-server REST):</td>
      <td>{{displayName}}</td>
  </tr>
  <tr>
      <td>Your name (retrieved via <code>AP.request()</code>):</td>
      <td>
          <span id="displayName"></span>
          <span class="aui-icon aui-icon-wait loading">Please wait</span>
      </td>
  </tr>
  <tr>
      <td>This repository:</td>
      <td>{{repoPath}}</td>
  </tr>
  <tr>
      <td>Page visits:</td>
      <td><strong>No longer supported</strong></td>
  </tr>
</table>
